<!DOCTYPE html>
<html>
<head>
	<title>Lightly Armed</title>
    <link rel="stylesheet" href="style.css" integrity="{{stylecsssum}}">
</head>
<body>
	<!-- force load of font -->
	<div style="font-family: Arimo;"> </div>
	<div id="playcontainer">
		<canvas width="600px" height="420px" id="game"></canvas>
	</div>
    <script src="utils.js" integrity="{{utilsjssum}}"></script>
    <script src="powerups.js" integrity="{{powerupsjssum}}"></script>
    <script src="player.js" integrity="{{playerjssum}}"></script>
	<script src="resources.js" integrity="{{resourcesjssum}}"></script>
	<script src="gamestate.js" integrity="{{gamestatejssum}}"></script>
	<script src="renderer.js" integrity="{{rendererjssum}}"></script>
	<script src="game.js" integrity="{{gamejssum}}"></script>
</body>
</html>
